@charset "UTF-8";
* {
	margin:		0;
	padding:	0;
}

.container{
	text-align: center;
	width: 700px;
	height: 500px;
	border: 2px solid black;
  	 padding: 5px;
	
	position: absolute;
  	left: 50%;
  	top: 50%;
   transform: translate(-50%, -50%);
  

}

.results{
	text-align: center;
	width: 500px;
	height: 350px;
	 border: 2px solid black;
   padding: 5px;
	
	position: absolute;
  	left: 50%;
  	top: 50%;
   transform: translate(-50%, -50%);
  

}