
body{
    background-color:black;
    margin: 0px;
}

.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.brick{
    background-color: darkblue;
    background: url(brick3.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

.coin{
    background: url(coin.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.cherry{
    background: url(cherry.png);
    background-position: center;
    background-repeat: no-repeat;

}

#ghost{
    background: url(ghost.gif);
    
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: center;



}

#pacman{
    background: url(pacman.gif);
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: center;
}

/* .pacmanLeft{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg)
}

.pacmanUp{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(270deg)
}

.pacmanDown{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(90deg)
} */

#pacmanGirl{
    background: url(pacmangirl.gif);
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: center;

}

.empty{
    background-color: black;
    
}

#world{
    display: inline-block;

}

#score{
    height: 50px;

    display: inline-block;
    vertical-align: top;
    
    border: 2px solid white;
    width: 50px;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 5px;

}
#lifescontainer{
    height: 50px;
    display: inline-block;
    vertical-align: top;
    
    border: 2px solid white;
    width: 100px;
    color: white;
    margin: 15px;
    text-align: center;
    padding: 5px;

}






