body{
    background-color: black;
}

.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.brick{
    background-color: blue;

}

.coin{
    background: url(coin.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.pacman{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty{
    background-color: lightblue;
    
}



