body{
    background-color: black;
}

.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.brick{
    background-color: blue;

}

.coin{
    background: url(coin.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.pacmanRight{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pacmanLeft{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg)
}

.pacmanUp{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(270deg)
}

.pacmanDown{
    background: url(pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(90deg)
}

.empty{
    background-color: black;
    
}



