#container{
    width: 850px;
    display: inline-block;
}

#information{
    font-family: Arial;
    width: 300px;
    /* height:300px; */
    display: inline-block;
    vertical-align: top;
    border-style: dotted;
    padding: 5px;
}


#information h4{
    margin: 6px;
}

#name{
    text-align: center;
    margin-bottom: 1px;
}

#words{

    text-align: center;
    font-style: italic;
    color: grey;
    margin: 5px;
    
}

