@charset "UTF-8";
* {
	margin:		0;
	padding:	0;
}

.container{
	text-align: center;

  	 padding: 5px;
	

  	left: 50%;
  	top: 50%;

  

}

.col{
	border: 1px solid black;
	margin:5px;
	padding:3px;
}

.actividades{

	border: solid 1px;
	max-height: 150px;
	width:800px;
	height: 200px;
	
	overflow-y: scroll;
	text-align: center;
  	padding: 5px;

  	left: 50%;
  	top: 50%;
	
	
}

.labelactivities{
	text-align: left;

  	padding: 5px;
  	left: 50%;
  	top: 50%;
	
}

.red{
	color:red;
	
}

.green{
	color:green;
}