#container{

    background-color:#bcaa8a;
    width: 900px;
    display: inline-block;
    
    
}
#container img{
    border-bottom: #F2EEE7 5px solid;
    margin: 5px;
    
}

#pokedex{
    width:350px;
    height: 620px;
    background-color:#393f50;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 10px;
    left: 950px;
    border-radius: 5px;
}

#top{
    width:350px;
    height: 620px;
    background-color:#393f50;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 10px;
    left: 950px;
    border-radius: 5px;
}

#white{

    color:#bcaa8a;

    background-color:  #435892;
    width: 300px;
    height: 570px;
    margin: 15px;
    font-family: Arial;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    
}

#white li{
    width: 20%;
    display: inline-block;
    margin: 5px;
}

#white ul{
   padding: 0px;
}


#height{
    display: inline-block;
    width: 40%;
}   

#weight{
    display: inline-block;
    width: 40%;
}


#name, #nameevolution, #evolution{
    text-align: center;
    margin-top: 5px,1px,1px,1px;

   
}

#imagen{
    margin-left: 100px;
    display: block;

}

/* #evolutionimg{
    margin-left: 100px;
    
} */

.imgtype{
   vertical-align: middle;
    text-align: center;

}

#logo{
    text-align: center;
}
