body{
    background-color: black;
}
#container{
    background: url(background.jpg
    );
    width: 1000px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero{
    background: url(1942.gif);
    background-position: -85px -180px;

    width: 30px;
    height:30px;
    position: absolute;

    top:300px;
    left:300px;

}

.enemy1{
    background: url(1942.gif);
    background-position: -30px -10px;
    width: 28px;
    height: 28px;
    position: absolute;

}

.bullet{
    background: url(1942.gif);
    background-position: -185px -400px;
    width: 18px;
    height: 18px;
    position: absolute;

}

